button
{
  font-family: Arial, Helvetica, sans-serif ;
}
  
body
{
  padding: 0;
             
  margin: 0;
  background: #101820FF;
  color: #006B38FF;
}

h1
{
  font-size: 5em;
  opacity: 0%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'fat_bros';
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 48%; 
  transform: translateX(-50%) translateY(-50%);
  cursor: default;
  animation: popup 1s forwards;
}

@keyframes dropdown {
  from{
    transform: translateY(0px);
    opacity: 0%;
  }
  
  to{
    transform: translateY(25px);
    opacity: 100%;
  }
}

@keyframes popup {
  from{
    opacity: 0%;
  }

  to{
    opacity: 100%;
  }
}


.idek
{
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  position: absolute;
  top: 56%;
  right: 40%; 
  transform: translateX(-50%) translateY(-50%);
  cursor: default;
        
}

.about-me
{
  background-color:#101820FF ;
  color: #006B38FF;
  border: none;
  font-size: 1.25em;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 3%;
  right: 8.1%;
  transition: color 0.15s, scale 0.15s;
  animation: popup 1s forwards;
}

.about-me:hover
{
  cursor: pointer;
  color: rgba(0, 107, 55, 0.699);
  scale: 105%;
}


.project{
  background-color: #101820FF;
  color: #006B38FF;
  border: none;
  font-size: 1.25em;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 3%;
  right: 2%;
  transition: color 0.15s, scale 0.15s;
  animation: popup 1s forwards;
            
}

.project:hover
{
  cursor: pointer;
  color: rgba(0, 107, 55, 0.699);
  scale: 105%;
  
}

        

.contact{
  background-color:#101820FF ;
  color: #006B38FF;
  border: none;
  font-size: 1.25em;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 3%;
  right: 15%;
  transition: color 0.15s, scale 0.15s;
  animation: popup 1s forwards;

}

.contact:hover{
  cursor: pointer;
   color: rgba(0, 107, 55, 0.699); 
  scale: 105%;
}


